* {
	--primary: #14103B;
	--secondary: #6789BA;
	font-family: Helvetica;
}

html {
	min-height: 100%;
	position: relative;
}

body {
    margin: 0px 0px 100px 0px;
    padding: 20px;
    color: var(--primary);
}

a {
	text-decoration: none;
}

a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

a:active {
    color: var(--primary);
}

.navbar {
	display: flex;
	flex-direction: row;
}

.navbar p {
	padding: 10px;
	font-size: 18px;
	border: 2px solid var(--primary);
	background-color: white;
	margin: 5px;
}

.navbar a:hover p {
	border: 2px solid var(--secondary);
}

footer {
	height: 100px;
	width: 100%;
	position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.data_text {

}

.data_viz {
	display: flex;
	direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.bubble_container {
	text-align: center;
	padding: 0px 40px 0px 40px;
}

.chart_label {
	fill: white;
}

button, input[type=submit], input[type=text] {
	font-size: 18px;
	padding: 10px;
	color: var(--secondary);
	border: 2px solid var(--secondary);
	background-color: white;
	margin: 5px;
}

button:focus, input[type=submit]:focus, input[type=text]:focus {
  outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
