* {
	--primary: #311D3F;
	--secondary: #88304E;
	font-family: Helvetica;
}

html {
	min-height: 100%;
	position: relative;
}

body {
    margin: 0px 0px 100px 0px;
    padding: 0px;
    color: var(--primary);
}

header {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-content {
	padding: 0px 20px 0px 20px;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

a:active {
    color: var(--primary);
}

.navbar {
	display: flex;
	flex-direction: row;
	background-color: var(--secondary);
	width: 100%;
}

.navbar p {
	padding: 15px;
	font-size: 24px;
	color: white;
	background-color: var(--secondary);
	margin: 0px;
}

.navbar a:hover p {
	background-color: var(--primary);
}

.navbar .active {
	color: var(--secondary) !important;
	background-color: white !important;
}

footer {
	height: 100px;
	width: 100%;
	position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.data-text {
	display: flex;
	direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

.text-container {
	display: flex;
	direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.text-container p {
	height: 35px;
	padding: 0px 75px 0px 0px;
}

.text-container button {
	padding: 5px;
	margin: 0px 5px 0px 5px;
}

.data-viz {
	display: flex;
	direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;
}

.viz-container {
	text-align: center;
	padding: 0px 40px 0px 40px;
}

.chart_label {
	fill: white;
}

button, input[type=submit], input[type=text], select {
	font-size: 18px;
	padding: 10px;
	color: var(--secondary);
	border: 2px solid var(--secondary);
	background-color: white;
	margin: 5px;
	border-radius: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:focus, input[type=submit]:focus, input[type=text]:focus, select {
  outline: none;
}

button:active {
	transform: translateY(5px);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.axis {
	fill: var(--primary);
}

.axis line {
    stroke: var(--primary);
}

.axis text {
    fill: var(--primary);
    font-size: 18px;
}  

.bar {
	fill: var(--secondary);
}

.book_stack {
	fill: var(--secondary);
}

.page_total {
	padding: 0px 40px 40px 40px;
	text-align: center;
}

.count {
	font-size: 24px;
	margin: 0;
}

form {
	margin: 10px 0px 10px 0px;
}

.story-link a {
	background-color: var(--primary); 
	color: white;
	padding: 5px;
	border-radius: 2px;
}

.story-link a:hover {
    color: var(--secondary) !important;
    background-color: white !important;
}

.story-link a:visited {
    color: white;
}